html,body{height: 100%;}
body{margin: 0; min-width: 1200px; font-family: "microsoft yahei";}
ul{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
.clearfix{
	&:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
}
.con{margin: 0 auto; width: 1200px;}
.search_box{float: right; margin: 6px 0 0; padding: 0 0 0 15px; width: 220px; border: 1px #d7d7d7 solid; border-radius: 14px; height: 24px; background: #fff;
	.ipt{float: left; width: 195px; height:22px; line-height: 22px; border: none;}
	.btn{margin: 4px 0 0; width: 17px; height: 17px; background: url(images/search_btn.png) no-repeat center center; border: none;}
}
.top{
	.top1{padding: 2px;background: #e5e5e5 url(images/top_line.gif) no-repeat center top; background-size: 100% 2px;
		.word{float: left; color: #333; font-size: 12px; line-height: 40px;}
	}
	.top2{height: 150px; background: #fff;
		.con{display: flex; flex-direction: row; justify-content: space-between; align-items: center; height: 100%;}
		.logo{width: 615px; height: 90px; background: url(images/logo.png);}
		.phone{padding: 0 0 0 55px; width: 200px; background: url(images/icon_phone.png) left center no-repeat;
			.num_phone{height: 33px; background: url(images/img_phone.png) no-repeat; font-size: 16px; color: #666;}
		}
		.qrcode{display: flex; flex-direction: row; justify-content: center; align-items: center; height: 100%;
			.qrcode1, .qrcode2{margin: 0 10px; text-align: center; font-size: 12px;}
		}
	}
}
nav{height: 60px; background: #19abeb;
	ul{display: flex; flex-direction: row; justify-content: space-between;}
	li{position: relative; width: 134px; height: 60px;
		a{position: relative; z-index: 3; display: flex; flex-direction: column; justify-content: center; width: 100%; height: 100%; color: #fff; text-align: center;}
		&:after{content: ""; position: absolute; bottom: 0; z-index: 2; width: 0; background: #86be17; height: 100%; left: 50%; transform: translateX(-50%); transition: all .3s ease;}
		&:hover, &.cur{
			&:after{width: 100%;}
		}
		&.cur{
			a{font-weight: bold;}
		}
	}
}
.swiper-container{height: 100%;}
.banner{height: 801px;
	.swiper-container{
		.swiper-slide1{background: url(../img/banner.jpg) center center no-repeat;}
		.swiper-slide2{background: url(../img/banner.jpg) center center no-repeat;}
		.swiper-slide3{background: url(../img/banner.jpg) center center no-repeat;}
		.swiper-button-prev, .swiper-button-next{width: 50px; height: 50px; background: rgba(0,0,0,.4) url(images/icon_arrow.png) no-repeat center center; border-radius: 50%;}
		.swiper-button-next{transform: rotateY(180deg);}
		&.swiper-container-horizontal{
			>.swiper-pagination-bullets{
				.swiper-pagination-bullet{background: #fff; opacity: .6; transition: all .3s ease; border-radius: 4px;}
				.swiper-pagination-bullet-active{width: 50px;}
			}
		}
	}
}
.icon_ls{height: 210px; background: url(images/icon_bg.jpg) center 0 no-repeat; color: #fff;
	ul{display: flex; flex-direction: row; justify-content: space-around; align-items: center; height: 100%;}
	li{padding: 0 60px 0 0; font-size: 16px; text-align: center; background: url(images/split_line.png) right center no-repeat;
		.icon{margin: 0 auto 10px; width: 63px; height: 45px; background-repeat: no-repeat; background-position: center top; transition: all .3s ease;}
		.icon1{background-image: url(images/icon_01.png);}
		.icon2{background-image: url(images/icon_02.png);}
		.icon3{background-image: url(images/icon_03.png);}
		.icon4{background-image: url(images/icon_04.png);}
		.icon5{background-image: url(images/icon_05.png);}
		.icon6{background-image: url(images/icon_06.png);}
		&:last-child{padding: 0; background: none;}
		a{display: block; color: #fff;
			&:hover{
				.icon{transform: scale(1.1);}
			}
		}
	}
}
.section1{display: flex; height: 556px; background: url(images/section1_bg.jpg) center 0 no-repeat;
	.title{margin: 60px auto 0; height: 42px; line-height: 42px; border-bottom: 1px #dcdee0 solid;
		.word{float: left; position: relative; font-size: 22px; font-weight: bold; color: #222;
			&:after{content: ""; position: absolute; left: 0; bottom: -2px; z-index: 2; width: 100%; height: 4px; background: #00a2e9;}
		}
		.tab_head{float: left; margin: 0 0 0 20px;
			li{float: left; margin: 0 0 0 20px; height: 42px; line-height: 42px; font-size: 20px; color: #333; cursor: pointer;
				&.cur{padding: 0 10px; color: #fff; background: #05a3e3; cursor: default;}
			}
		}
		.more{float: right; font-size: 14px; color: #222; transition: all .3s ease;
			.icon{display: inline-block; margin-top: -3px; vertical-align: middle; width: 15px; height: 15px; border-radius: 50%; background: #babbbb url(images/icon_more.png) center center no-repeat; transition: all .3s ease;}
			&:hover{color: #86be17;
				.icon{background-color: #86be17;}
			}
		}
	}
	.tab_con{display: none; flex-direction: row; justify-content: space-between; align-items: flex-end;
		.left{width: 680px;
			.left1{margin: 58px 0 0; width: 560px;
				h2{font-size: 16px; font-weight: bold; color: #222;
					a{color: #222;}
				}
				p{font-size: 14px; color: #333; line-height: 2; text-indent: 2em;}
				.more{display: inline-block; padding: 0 10px 0 25px; height: 30px; line-height: 30px; color: #fff; background: #05a3e3 url(images/icon_more.png) 13px center no-repeat; border-radius: 15px;
					.icon{display: inline-block; vertical-align: middle; width: 15px; height: 10px; background: url(images/icon_more.png) center top no-repeat;}
				}
			}
			.left2{position: relative; margin: 20px 0 0; height: 112px;
				.swiper-container{
					.swiper-wrapper{width: calc(100% - 20px);}
					.swiper-slide{position: relative; width: 147px; height: 112px; background-position: center center; background-repeat: no-repeat;
						.play_btn{display: block; position: absolute; left: 50%; top: 50%; margin: -17px 0 0 -17px; width: 34px; height: 34px; border: 3px #fff solid; border-radius: 50%; background: rgba(0,0,0,0.5) url(images/icon_arrow5.png) center center no-repeat; transition: all .3s ease;
							&:hover{background-image: url(images/icon_arrow4.png); transform: rotate(360deg);border-color: #86be17;}
						}
					}
				}
				.swiper-button-prev, .swiper-button-next{margin-top: -8px; width: 11px; height: 16px; background: url(images/icon_arrow2.png) center center no-repeat;
					&.swiper-button-disabled{background-image: url(images/icon_arrow3.png);}
				}
				.swiper-button-prev{left: -15px;}
				.swiper-button-next{right: -15px; transform: rotateY(180deg);}
			}
		}
		.right{position: relative; width: 477px; height: 358px; background-position: center center; background-repeat: no-repeat;
			.play_btn{display: block; position: absolute; left: 50%; top: 50%; margin: -27px 0 0 -27px; width: 54px; height: 54px; border: 3px #fff solid; border-radius: 50%; background: rgba(0,0,0,0.5) url(images/icon_arrow6.png) center center no-repeat; transition: all .3s ease;
				&:hover{background-image: url(images/icon_arrow7.png); transform: rotate(360deg);border-color: #86be17;}
			}
		}
		&.active{display: flex;}
	}
}
.section2{display: flex; height: 540px; background: #fff;
	.title{margin: 60px auto 0; height: 42px; line-height: 42px; border-bottom: 1px #dcdee0 solid;
		.word{float: left; position: relative; font-size: 22px; font-weight: bold; color: #222;
			&:after{content: ""; position: absolute; left: 0; bottom: -2px; z-index: 2; width: 100%; height: 4px; background: #00a2e9;}
		}
		.tab_head{float: left; margin: 0 0 0 20px;
			li{float: left; margin: 0 0 0 20px; height: 42px; line-height: 42px; font-size: 20px; color: #333; cursor: pointer;
				&.cur{padding: 0 10px; color: #fff; background: #05a3e3; cursor: default;}
			}
		}
		.more{float: right; font-size: 14px; color: #222; transition: all .3s ease;
			.icon{display: inline-block; margin-top: -3px; vertical-align: middle; width: 15px; height: 15px; border-radius: 50%; background: #babbbb url(images/icon_more.png) center center no-repeat; transition: all .3s ease;}
			&:hover{color: #86be17;
				.icon{background-color: #86be17;}
			}
		}
	}
	.tab_con{display: none; padding: 30px 0 0; flex-direction: row; justify-content: space-between; align-items: flex-end;
		.left{position: relative; margin: 0 30px 0 0; width: 466px; height: 350px;
			.swiper-slide{
				img{animation-duration:5s;animation-timing-function:linear;animation-fill-mode: forwards;}
				.detail{height:40px;background:rgba(0,0,0,.5);position:absolute;width:100%;bottom:0;color:#fff;opacity:0;transition:opacity .3s .3s;
					
					h3{margin: 0 0 0 15px; width: 315px; height: 40px; line-height: 40px; font-size: 14px; color: #fff; font-weight: normal; white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
					p{width:950px;margin:5px auto 0;
						span{display:block;}
					}
				}
			}
			.swiper-slide-active .detail{opacity:1;}
			.swiper-pagination{bottom: 4px;right: 5px;}
			.swiper-pagination-bullet{width:29px;height:29px;line-height: 29px; color: #fff;border-radius: 0; background: none; opacity: 1;
				&.swiper-pagination-bullet-active{background:#05a3e3;}
			}
					
			.leftUp img{animation-name:leftUp;}
			@keyframes leftUp{
				0%{transform:scale(1.1,1.1) translate(4.545%,4.545%);}
				100%{transform:scale(1.1,1.1)  translate(-4.545%,-4.545%);}
			}			
			.moveRight img{animation-name:moveRight;}
			@keyframes moveRight{
				0%{transform:scale(1.1,1.1) translate(-4.545%,0);}
				100%{transform:scale(1.1,1.1)  translate(4.545%,0);}
			}			
			.moveDown img{animation-name:moveDown;}
			@keyframes moveDown{
				0%{transform:scale(1.1,1.1) translate(0,-4.545%);}
				100%{transform:scale(1.1,1.1)  translate(0,4.545%);}
			}			
			.centerBig img{animation-name:centerBig;}
			@keyframes centerBig{
				100%{transform:scale(1.1,1.1);}
			}
			.rightDownBig img{animation-name:rightDownBig;}
			@keyframes rightDownBig{
				100%{transform:scale(1.1,1.1) translate(4%,4%);}
			}
		}
		.right{flex: 1;
			li{padding: 15px 0; height: 90px; border-bottom: 1px #e5e5e5 solid;
				.img{float: left; margin: 0 10px 0 0; width: 122px; height: 90px; background-repeat: no-repeat; background-position: center center;
					a{display: block; height: 100%;}
				}
				.title1{display: flex; flex-direction: row; justify-content: space-between; margin: 0 0 10px;
					a{display: block; line-height: 22px; font-size: 16px; color: #222; transition: all .3s ease;
						&:hover{font-weight: bold; color: #86be17;}
					}
					.date{font-size: 14px; color: #333;}
				}
				p{margin: 0; font-size: 14px; text-indent: 2em; color: #666; line-height: 2;
					a{color: #05a3e3; transition: all .3s ease;
						&:hover{color: #86be17;}
					}
				}
			}
		}
		&.active{display: flex;}
	}
}
.section3{display: flex; flex-direction: column; justify-content: center; height: 529px; background: url(images/section3_bg.jpg) center 0 no-repeat;
	.title{margin: 60px auto 20px; height: 42px; line-height: 42px; border-bottom: 1px #dcdee0 solid;
		.word{float: left; position: relative; font-size: 22px; font-weight: bold; color: #222;
			&:after{content: ""; position: absolute; left: 0; bottom: -2px; z-index: 2; width: 100%; height: 4px; background: #00a2e9;}
		}
		.more{float: right; font-size: 14px; color: #222; transition: all .3s ease;
			.icon{display: inline-block; margin-top: -3px; vertical-align: middle; width: 15px; height: 15px; border-radius: 50%; background: #babbbb url(images/icon_more.png) center center no-repeat; transition: all .3s ease;}
			&:hover{color: #86be17;
				.icon{background-color: #86be17;}
			}
		}
	}
	.ls{height: 375px;
		li{margin: 0 16px 0 0; padding: 10px; width: 225px; height: 310px; box-sizing: border-box; background: #fff; box-shadow: 0 0 14px #c7c9c9;
			a{display: flex; flex-direction: row; justify-content: space-between; align-items: center; padding: 245px 0 0; background-repeat: no-repeat; background-position: center 0;
				.left{
					.name{display: block; margin: 0 0 5px; font-size: 16px; font-weight: bold; color: #00a2e9;}
					.post{display: block; font-size: 14px; color: #666;}
				}
			}
			&:last-child{margin: 0;}
		}
	}
}
.icon_ls2{height: 230px; color: #666;
	ul{display: flex; flex-direction: row; justify-content: space-around; align-items: center; height: 100%;}
	li{position: relative; flex: 1; display: flex; flex-direction: column; justify-content: center; height: 150px; font-size: 16px; text-align: center; transition: all .3s ease;
		.icon{margin: 0 auto 10px; width: 63px; height: 45px; background-repeat: no-repeat; background-position: center top;}
		.icon1{background-image: url(images/icon_07.png);}
		.icon2{background-image: url(images/icon_08.png);}
		.icon3{background-image: url(images/icon_09.png);}
		.icon4{background-image: url(images/icon_10.png);}
		.icon5{background-image: url(images/icon_11.png);}
		&:after{content: ""; position: absolute; bottom: 0; z-index: 2; width: 0; background: #05a3e3; height: 3px; left: 50%; transform: translateX(-50%); transition: all .3s ease;}
		&:hover{box-shadow: 0 5px 5px #ebf3f7;
			&:after{width: 80%;}
		}
		a{display: block; color: #666; transition: all .3s ease;
			&:hover{font-weight: bold; color: #05a3e3;}
		}
	}
}
.bottom{color: #fff;
	.bottom1{height: 450px; background: url(images/bottom_bg.jpg) no-repeat;
		.con{display: flex; flex-direction: row; justify-content: space-between; align-items: center; height: 100%;}
		.logo{width: 472px; height: 218px; background: url(images/logo_02.png);}
		.qrcode{display: flex; flex-direction: row; justify-content: center; align-items: center; height: 100%;
			.qrcode1, .qrcode2{margin: 0 20px; text-align: center; font-size: 14px;}
		}
		.contact{
			.title{height: 47px;
				.icon{float: left; margin: 0 10px 0 0; width: 45px; height: 45px; border: 1px #fff solid; border-radius: 50%; background: url(images/icon_contact.png) center center no-repeat;}
				.word{display: flex; flex-direction: column; justify-content: space-between; height: 100%; font-size: 16px; font-weight: bold;
					.en{font-weight: normal; font-family: arial;}
				}
			}
			li{padding: 0 0 0 10px; font-size: 14px; line-height: 28px; background: url(images/icon_dot.png) left center no-repeat;
				a{color: #fff;}
			}
		}
	}
	.bottom2{padding: 15px 0 0; height: 37px; font-size: 14px; background: #35b1d1;
		a{margin: 0 15px 0 0; color: #fff;
			&:last-child{margin: 0;}
		}
	}
}
