html,body{height: 100%;}
body{margin: 0; min-width: 1200px; font-family: "microsoft yahei";}
ul{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
.clearfix{
	&:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
}
.con{margin: 0 auto; width: 1200px;}
.search_box{float: right; margin: 6px 0 0; padding: 0 0 0 15px; width: 220px; border: 1px #d7d7d7 solid; border-radius: 14px; height: 24px; background: #fff;
	.ipt{float: left; width: 195px; height:22px; line-height: 22px; border: none;}
	.btn{margin: 4px 0 0; width: 17px; height: 17px; background: url(images/search_btn.png) no-repeat center center; border: none;}
}
.top{
	.top1{padding: 2px;background: #e5e5e5 url(images/top_line.gif) no-repeat center top; background-size: 100% 2px;
		.word{float: left; color: #333; font-size: 12px; line-height: 40px;}
	}
	.top2{height: 150px; background: #fff;
		.con{display: flex; flex-direction: row; justify-content: space-between; align-items: center; height: 100%;}
		.logo{width: 615px; height: 90px; background: url(images/logo.png);}
		.phone{padding: 0 0 0 55px; width: 200px; background: url(images/icon_phone.png) left center no-repeat;
			.num_phone{height: 33px; background: url(images/img_phone.png) no-repeat; font-size: 16px; color: #666;}
		}
		.qrcode{display: flex; flex-direction: row; justify-content: center; align-items: center; height: 100%;
			.qrcode1, .qrcode2{margin: 0 10px; text-align: center; font-size: 12px;}
		}
	}
}
nav{height: 60px; background: #19abeb;
	ul{display: flex; flex-direction: row; justify-content: space-between;}
	li{position: relative; width: 134px; height: 60px;
		a{position: relative; z-index: 3; display: flex; flex-direction: column; justify-content: center; width: 100%; height: 100%; color: #fff; text-align: center;}
		&:after{content: ""; position: absolute; bottom: 0; z-index: 2; width: 0; background: #86be17; height: 100%; left: 50%; transform: translateX(-50%); transition: all .3s ease;}
		&:hover, &.cur{
			&:after{width: 100%;}
		}
		&.cur{
			a{font-weight: bold;}
		}
	}
}
.banner{height: 801px;
	.swiper-container{height: 100%;
		.swiper-slide1{background: url(../img/banner.jpg) center center no-repeat;}
		.swiper-slide2{background: url(../img/banner.jpg) center center no-repeat;}
		.swiper-slide3{background: url(../img/banner.jpg) center center no-repeat;}
		.swiper-button-prev, .swiper-button-next{width: 50px; height: 50px; background: rgba(0,0,0,.4) url(images/icon_arrow.png) no-repeat center center; border-radius: 50%;}
		.swiper-button-next{transform: rotateY(180deg);}
		&.swiper-container-horizontal{
			>.swiper-pagination-bullets{
				.swiper-pagination-bullet{background: #fff; opacity: .6; transition: all .3s ease; border-radius: 4px;}
				.swiper-pagination-bullet-active{width: 50px;}
			}
		}
	}
}
.icon_ls{height: 210px; background: url(images/icon_bg.jpg) center 0 no-repeat; color: #fff;
	ul{display: flex; flex-direction: row; justify-content: space-around; align-items: center; height: 100%;}
	li{padding: 0 60px 0 0; font-size: 16px; text-align: center; background: url(images/split_line.png) right center no-repeat;
		.icon{margin: 0 auto 10px; width: 63px; height: 45px; background-repeat: no-repeat; background-position: center top; transition: all .3s ease;}
		.icon1{background-image: url(images/icon_01.png);}
		.icon2{background-image: url(images/icon_02.png);}
		.icon3{background-image: url(images/icon_03.png);}
		.icon4{background-image: url(images/icon_04.png);}
		.icon5{background-image: url(images/icon_05.png);}
		.icon6{background-image: url(images/icon_06.png);}
		&:last-child{padding: 0; background: none;}
		a{display: block; color: #fff;
			&:hover{
				.icon{transform: scale(1.1);}
			}
		}
	}
}
.icon_ls2{height: 230px; color: #666;
	ul{display: flex; flex-direction: row; justify-content: space-around; align-items: center; height: 100%;}
	li{position: relative; flex: 1; display: flex; flex-direction: column; justify-content: center; height: 150px; font-size: 16px; text-align: center; transition: all .3s ease;
		.icon{margin: 0 auto 10px; width: 63px; height: 45px; background-repeat: no-repeat; background-position: center top;}
		.icon1{background-image: url(images/icon_07.png);}
		.icon2{background-image: url(images/icon_08.png);}
		.icon3{background-image: url(images/icon_09.png);}
		.icon4{background-image: url(images/icon_10.png);}
		.icon5{background-image: url(images/icon_11.png);}
		&:after{content: ""; position: absolute; bottom: 0; z-index: 2; width: 0; background: #05a3e3; height: 3px; left: 50%; transform: translateX(-50%); transition: all .3s ease;}
		&:hover{box-shadow: 0 5px 5px #ebf3f7;
			&:after{width: 80%;}
		}
		a{display: block; color: #666; transition: all .3s ease;
			&:hover{font-weight: bold; color: #05a3e3;}
		}
	}
}
.bottom{color: #fff;
	.bottom1{height: 450px; background: url(images/bottom_bg.jpg) no-repeat;
		.con{display: flex; flex-direction: row; justify-content: space-between; align-items: center; height: 100%;}
		.logo{width: 472px; height: 218px; background: url(images/logo_02.png);}
		.qrcode{display: flex; flex-direction: row; justify-content: center; align-items: center; height: 100%;
			.qrcode1, .qrcode2{margin: 0 20px; text-align: center; font-size: 14px;}
		}
		.contact{
			.title{height: 47px;
				.icon{float: left; margin: 0 10px 0 0; width: 45px; height: 45px; border: 1px #fff solid; border-radius: 50%; background: url(images/icon_contact.png) center center no-repeat;}
				.word{display: flex; flex-direction: column; justify-content: space-between; height: 100%; font-size: 16px; font-weight: bold;
					.en{font-weight: normal; font-family: arial;}
				}
			}
			li{padding: 0 0 0 10px; font-size: 14px; line-height: 28px; background: url(images/icon_dot.png) left center no-repeat;
				a{color: #fff;}
			}
		}
	}
	.bottom2{padding: 15px 0 0; height: 37px; font-size: 14px; background: #35b1d1;
		a{margin: 0 15px 0 0; color: #fff;
			&:last-child{margin: 0;}
		}
	}
}
