@mixin prefixer($property, $value, $prefixes: webkit moz) {
  #{$property}: $value;

  @each $prefix in $prefixes {
    @if $prefix == webkit {
      -webkit-#{$property}:#{$value};
    }
    @else if $prefix == moz {
      -moz-#{$property}:#{$value};
    }
    @else if $prefix == o {
      -o-#{$property}:#{$value};
    }
    @else if $prefix == ms {
      -ms-#{$property}:#{$value};
    }
  }
}
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

html,body{height: 100%;}
body{margin: 0; min-width: 1200px; font-size: 14px; font-family: "microsoft yahei";}
ul{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
.clearfix{
	&:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
}

.leftUp img{animation-name:leftUp;}
@keyframes leftUp{
	0%{transform:scale(1.1,1.1) translate(4.545%,4.545%);}
	100%{transform:scale(1.1,1.1) translate(-4.545%,-4.545%);}
}			
.moveRight img{animation-name:moveRight;}
@keyframes moveRight{
	0%{transform:scale(1.1,1.1) translate(-4.545%,0);}
	100%{transform:scale(1.1,1.1) translate(4.545%,0);}
}			
.moveDown img{animation-name:moveDown;}
@keyframes moveDown{
	0%{transform:scale(1.1,1.1) translate(0,-4.545%);}
	100%{transform:scale(1.1,1.1) translate(0,4.545%);}
}			
.centerBig img{animation-name:centerBig;}
@keyframes centerBig{
	100%{transform:scale(1.1,1.1);}
}
.rightDownBig img{animation-name:rightDownBig;}
@keyframes rightDownBig{
	100%{transform:scale(1.1,1.1) translate(4%,4%);}
}
@keyframes bg-color {
  0% { background: linear-gradient(to left, #86be17 0%,#86be17 0%, #fff 100%) }
  10% { background: linear-gradient(to left, #86be17 0%,#86be17 10%, #fff 11%) }
  20% { background: linear-gradient(to left, #86be17 0%,#86be17 20%, #fff 21%) }
  30% { background: linear-gradient(to left, #86be17 0%,#86be17 30%, #fff 31%) }
  40% { background: linear-gradient(to left, #86be17 0%,#86be17 40%, #fff 41%) }
  50% { background: linear-gradient(to left, #86be17 0%,#86be17 50%, #fff 51%) }
  60% { background: linear-gradient(to left, #86be17 0%,#86be17 60%, #fff 61%) }
  70% { background: linear-gradient(to left, #86be17 0%,#86be17 70%, #fff 71%) }
  80% { background: linear-gradient(to left, #86be17 0%,#86be17 80%, #fff 81%) }
  90% { background: linear-gradient(to left, #86be17 0%,#86be17 90%, #fff 91%) }
  100% { background: linear-gradient(to left, #86be17 0%,#86be17 100%) }
}
.view_more{display: none; position: relative; margin: 20px auto 0; padding: 10px; width: 6rem; font-size: .3rem; color: #19abeb; background: #fff; border: 1px #19abeb solid; text-align: center; border-radius: .5rem; @include prefixer(transition, all .3s ease, webkit moz o ms);
	&:hover{color: #fff; animation: .3s bg-color; animation-fill-mode: forwards;}
}
			
.con{margin: 0 auto; width: 1200px;}
.search_box{float: right; margin: 6px 0 0; padding: 0 0 0 15px; width: 220px; border: 1px #d7d7d7 solid; border-radius: 14px; height: 24px; background: #fff;
	.ipt{float: left; width: 195px; height:22px; line-height: 22px; border: none;}
	.btn{margin: 4px 0 0; width: 17px; height: 17px; background: url(images/search_btn.png) no-repeat center center; border: none;}
}
.top{
	.top1{padding: 2px 0 0;background: #e5e5e5 url(images/top_line.gif) no-repeat center top; background-size: 100% 2px;
		.word{float: left; color: #333; font-size: 12px; line-height: 40px;}
	}
	.top2{height: 150px; background: #fff;
		.con{position: relative; @include flexbox(); flex-direction: row; justify-content: space-between; align-items: center; height: 100%;}
		.logo{width: 615px; height: 90px; background: url(images/logo.png);}
		.phone{padding: 0 0 0 55px; width: 200px; font-size: 16px; color: #666; background: url(images/icon_phone.png) left center no-repeat;
			.num_phone{height: 33px; background: url(images/img_phone.png) no-repeat; font-size: 16px; color: #666;}
		}
		.qrcode{@include flexbox(); flex-direction: row; justify-content: center; align-items: center; height: 100%;
			.qrcode1, .qrcode2{margin: 0 10px; text-align: center; font-size: 12px;}
		}
		.navbtn{display: none; position: absolute;right: 5px;top: 18px;z-index: 9;height: 30px;padding: 0;width: 35px; @include prefixer(transition, all .8s ease, webkit moz o ms);
			span{display: block;width: 30px;height: 5px;background: #93c635;transition: .3s ease;border-radius: 5px;
				&+span{margin-top: 6px;}
			}
			.line2{opacity: 1;visibility: visible; @include prefixer(transition, all .3s ease, webkit moz o ms);}
		}
		&.open{
			.navbtn{
				.line1{width: 35px; transform: translate3d(-3px, 11px, 0) rotate(225deg)}
			    .line2{opacity: 0;visibility: hidden;}
				.line3{width: 35px; transform: translate3d(-3px,-11px,0) rotate(-225deg);}
			}
		}
	}
}
nav{height: 60px; background: #19abeb;
	ul{@include flexbox(); flex-direction: row; justify-content: space-between;}
	li{position: relative; width: 134px; height: 60px;
		a{position: relative; z-index: 3; @include flexbox(); flex-direction: column; justify-content: center; width: 100%; height: 100%; font-size: 18px; color: #fff; text-align: center;}
		&:after{content: ""; position: absolute; bottom: 0; z-index: 2; width: 0; background: #86be17; height: 100%; left: 50%; transform: translateX(-50%); @include prefixer(transition, all .3s ease, webkit moz o ms);}
		&:hover, &.cur{
			&:after{width: 100%;}
		}
		&.cur{
			a{font-weight: bold;}
		}
	}
}
.mobile_nav{position: fixed; z-index: 20; right: 0; top: 62px; width: 6rem; height: 100%; background: rgba(1, 162, 232, .9); @include prefixer(transition, all .8s ease, webkit moz o ms); transform: translateX(100%); opacity: 0; visibility: hidden;
	li{height: 45px; line-height: 45px; text-align: center; font-size: 16px; color: #EBF3F7;
		a{display: block; position: relative; color: #EBF3F7;
			&:after{content: ""; position: absolute; bottom: 0; z-index: 2; width: 0; background: #86be17; height: 2px; left: 50%; transform: translateX(-50%); @include prefixer(transition, all .4s ease, webkit moz o ms);}
			&:focus, &:active{
				&:after{width: 100%;}
			}
		}
		&.cur{color: #fff;
			a{color: #fff; font-weight: bold;
				&:after{width: 100%;}
			}
		}
	}

}
.swiper-container{height: 100%;}
.banner{height: 800px;
	.swiper-container{
		.swiper-slide{background-repeat: no-repeat; background-position: center center; background-size: cover;}
		.swiper-button-prev, .swiper-button-next{width: 50px; height: 50px; background: rgba(0,0,0,.4) url(images/icon_arrow.png) no-repeat center center; border-radius: 50%;}
		.swiper-button-next{transform: rotateY(180deg);}
		&.swiper-container-horizontal{
			>.swiper-pagination-bullets{
				.swiper-pagination-bullet{background: #fff; opacity: .6; @include prefixer(transition, all .3s ease, webkit moz o ms); border-radius: 4px;}
				.swiper-pagination-bullet-active{width: 50px;}
			}
		}
	}
}
.icon_ls{height: 210px; background: url(images/icon_bg.jpg) center 0 no-repeat; color: #fff;
	ul{@include flexbox(); flex-direction: row; justify-content: space-around; align-items: center; height: 100%;}
	li{padding: 0 60px 0 0; font-size: 16px; text-align: center; background: url(images/split_line.png) right center no-repeat;
		.icon{margin: 0 auto 10px; width: 63px; height: 45px; background-repeat: no-repeat; background-position: center top; @include prefixer(transition, all .3s ease, webkit moz o ms);}
		.icon1{background-image: url(images/icon_01.png);}
		.icon2{background-image: url(images/icon_02.png);}
		.icon3{background-image: url(images/icon_03.png);}
		.icon4{background-image: url(images/icon_04.png);}
		.icon5{background-image: url(images/icon_05.png);}
		.icon6{background-image: url(images/icon_06.png);}
		&:last-child{padding: 0; background: none;}
		a{display: block; color: #fff;
			&:hover{
				.icon{transform: scale(1.1);}
			}
		}
	}
}
.section1{@include flexbox(); height: 556px; background: url(images/section1_bg.jpg) center 0 no-repeat;
	.title{margin: 60px auto 0; height: 42px; line-height: 42px; border-bottom: 1px #dcdee0 solid;
		.word{float: left; position: relative; font-size: 22px; font-weight: bold; color: #222;
			&:after{content: ""; position: absolute; left: 0; bottom: -2px; z-index: 2; width: 100%; height: 4px; background: #00a2e9;}
		}
		.tab_head{float: left; margin: 0 0 0 20px;
			li{float: left; margin: 0 0 0 20px; padding: 0 10px; height: 42px; line-height: 42px; font-size: 20px; color: #333; cursor: pointer;
				&.cur{color: #fff; background: #05a3e3; cursor: default;}
			}
		}
		.more{float: right; font-size: 14px; color: #222; @include prefixer(transition, all .3s ease, webkit moz o ms);
			.icon{display: inline-block; margin-top: -3px; vertical-align: middle; width: 15px; height: 15px; border-radius: 50%; background: #babbbb url(images/icon_more.png) center center no-repeat; @include prefixer(transition, all .3s ease, webkit moz o ms);}
			&:hover{color: #86be17;
				.icon{background-color: #86be17;}
			}
		}
	}
	.tab_con{display: none; flex-direction: row; justify-content: space-between; align-items: flex-end;
		.left{width: 680px;
			.left1{margin: 58px 0 0; width: 560px;
				h2{font-size: 16px; font-weight: bold; color: #222;
					a{color: #222;}
				}
				p{font-size: 14px; color: #333; line-height: 2; text-indent: 2em;}
				.more{display: inline-block; padding: 0 10px 0 25px; height: 30px; line-height: 30px; color: #fff; background: #05a3e3 url(images/icon_more.png) 13px center no-repeat; border-radius: 15px;
					.icon{display: inline-block; vertical-align: middle; width: 15px; height: 10px; background: url(images/icon_more.png) center top no-repeat;}
				}
			}
			.left2{position: relative; margin: 20px 0 0; height: 112px;
				.swiper-container{
					.swiper-slide{position: relative; width: 147px; background-position: center center; background-repeat: no-repeat;
						.play_btn{display: block; position: absolute; left: 50%; top: 50%; margin: -17px 0 0 -17px; width: 34px; height: 34px; border: 3px #fff solid; border-radius: 50%; background: rgba(0,0,0,0.5) url(images/icon_arrow5.png) center center no-repeat; @include prefixer(transition, all .3s ease, webkit moz o ms);
							&:hover{background-image: url(images/icon_arrow4.png); transform: rotate(360deg);border-color: #86be17;}
						}
						.txt, .date{display: none;}
					}
				}
				.swiper-button-prev, .swiper-button-next{margin-top: -8px; width: 11px; height: 16px; background: url(images/icon_arrow2.png) center center no-repeat;
					&.swiper-button-disabled{background-image: url(images/icon_arrow3.png);}
				}
				.swiper-button-prev{left: -15px;}
				.swiper-button-next{right: -15px; transform: rotateY(180deg);}
			}
		}
		.right{position: relative; width: 477px; height: 358px; background-position: center center; background-repeat: no-repeat;
			.play_btn{display: block; position: absolute; left: 50%; top: 50%; margin: -27px 0 0 -27px; width: 54px; height: 54px; border: 3px #fff solid; border-radius: 50%; background: rgba(0,0,0,0.5) url(images/icon_arrow6.png) center center no-repeat; @include prefixer(transition, all .3s ease, webkit moz o ms);
				&:hover{background-image: url(images/icon_arrow7.png); transform: rotate(360deg);border-color: #86be17;}
			}
			.txt{display: none;}
		}
		&.active{@include flexbox();}
	}
}
.section2{@include flexbox(); height: 540px; background: #fff;
	.title{margin: 60px auto 0; height: 42px; line-height: 42px; border-bottom: 1px #dcdee0 solid;
		.word{float: left; position: relative; font-size: 22px; font-weight: bold; color: #222;
			&:after{content: ""; position: absolute; left: 0; bottom: -2px; z-index: 2; width: 100%; height: 4px; background: #00a2e9;}
		}
		.tab_head{float: left; margin: 0 0 0 20px;
			li{float: left; margin: 0 0 0 20px; padding: 0 10px; height: 42px; line-height: 42px; font-size: 20px; color: #333; cursor: pointer;
				&.cur{color: #fff; background: #05a3e3; cursor: default;}
			}
		}
		.more{float: right; font-size: 14px; color: #222; @include prefixer(transition, all .3s ease, webkit moz o ms);
			.icon{display: inline-block; margin-top: -3px; vertical-align: middle; width: 15px; height: 15px; border-radius: 50%; background: #babbbb url(images/icon_more.png) center center no-repeat; @include prefixer(transition, all .3s ease, webkit moz o ms);}
			&:hover{color: #86be17;
				.icon{background-color: #86be17;}
			}
		}
	}
	.tab_con{display: none; padding: 30px 0 0; flex-direction: row; justify-content: space-between; align-items: flex-end;
		.left{position: relative; margin: 0 30px 0 0; width: 466px; height: 350px;
			.swiper-slide{
				img{animation-duration:5s;animation-timing-function:linear;animation-fill-mode: forwards;}
				.detail{height:40px;background:rgba(0,0,0,.5);position:absolute;width:100%;bottom:0;color:#fff;opacity:0;transition:opacity .3s .3s;
					
					h3{margin: 0 0 0 15px; width: 315px; height: 40px; line-height: 40px; font-size: 14px; color: #fff; font-weight: normal; white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
					p{width:950px;margin:5px auto 0;
						span{display:block;}
					}
				}
			}
			.swiper-slide-active .detail{opacity:1;}
			.swiper-pagination{bottom: 4px; left: auto; right: 5px; width: 200px; text-align: right;}
			.swiper-pagination-bullet{margin: 0; width:29px;height:29px;line-height: 29px; color: #fff;border-radius: 0; background: none; opacity: 1; text-align: center;
				&.swiper-pagination-bullet-active{background:#05a3e3;}
			}
		}
		.right{flex: 1;
			li{padding: 15px 0; height: 90px; border-bottom: 1px #e5e5e5 solid;
				.img{float: left; margin: 0 10px 0 0; width: 122px; height: 90px; background-repeat: no-repeat; background-position: center center;
					a{display: block; height: 100%;}
				}
				.title1{@include flexbox(); flex-direction: row; justify-content: space-between; margin: 0 0 10px;
					a{display: block; line-height: 22px; font-size: 16px; color: #222; @include prefixer(transition, all .3s ease, webkit moz o ms);
						&:hover{font-weight: bold; color: #86be17;}
					}
					.date{font-size: 14px; color: #333;}
				}
				p{margin: 0; font-size: 14px; text-indent: 2em; color: #666; line-height: 2;
					a{color: #05a3e3; @include prefixer(transition, all .3s ease, webkit moz o ms);
						&:hover{color: #86be17;}
					}
				}
				.date_mobile{display: none;}
			}
		}
		.view_more_box{display: none;}
		&.active{@include flexbox();}
	}
}
.section3{@include flexbox(); flex-direction: column; justify-content: center; height: 529px; background: url(images/section3_bg.jpg) center 0 no-repeat;
	.title{margin: 0 auto; height: 42px; line-height: 42px; border-bottom: 1px #dcdee0 solid;
		.word{float: left; position: relative; font-size: 22px; font-weight: bold; color: #222;
			&:after{content: ""; position: absolute; left: 0; bottom: -2px; z-index: 2; width: 100%; height: 4px; background: #00a2e9;}
		}
		.more{float: right; font-size: 14px; color: #222; @include prefixer(transition, all .3s ease, webkit moz o ms);
			.icon{display: inline-block; margin-top: -3px; vertical-align: middle; width: 15px; height: 15px; border-radius: 50%; background: #babbbb url(images/icon_more.png) center center no-repeat; @include prefixer(transition, all .3s ease, webkit moz o ms);}
			&:hover{color: #86be17;
				.icon{background-color: #86be17;}
			}
		}
		.mobile_more{display: none;}
	}
	.swiper-container{
		&.swiper-container-horizontal{
			>.swiper-pagination-bullets{
				.swiper-pagination-bullet{width: 6px; height: 6px; background: #d5d8d8; opacity: 1; @include prefixer(transition, all .3s ease, webkit moz o ms); border-radius: 4px;}
				.swiper-pagination-bullet-active{width: 32px; background: #00a2e9;}
			}
		}
	}
	.ls{@include flexbox(); flex-direction: row; align-items: flex-end; padding: 0 5px 40px; height: 330px;
		li{flex: 1; margin: 0 16px 0 0; padding: 10px; height: 310px; box-sizing: border-box; background: #fff; box-shadow: 0 0 14px #c7c9c9; @include prefixer(transition, all .3s ease, webkit moz o ms);
			a{@include flexbox(); flex-direction: row; justify-content: space-between; align-items: center; padding: 245px 0 0; background-repeat: no-repeat; background-position: center 0;
				.left{
					.name{display: block; margin: 0 0 5px; font-size: 16px; font-weight: bold; color: #00a2e9;}
					.post{display: block; font-size: 14px; color: #666;}
				}
				.department{display: block; position: relative; padding: 0 10px 0 15px; height: 33px; line-height: 33px; font-size: 14px; color: #fff; background: #00a2e9; border-top-left-radius: 20px; border-bottom-left-radius: 20px; overflow: hidden;
					h3{position: relative; z-index: 3; margin: 0; font-size: 14px; font-weight: normal;}
					&:after{content: ""; position: absolute; right: 0; bottom: 0; z-index: 2; width: 0; height: 100%; background: #86be17; border-top-left-radius: 20px; border-bottom-left-radius: 20px; @include prefixer(transition, all .3s ease, webkit moz o ms);}
				}
				&:hover{
					.department{
						&:after{width: 100%;}
					}
				}
			}
			&:hover{box-shadow: 0 0 14px #00a2e9;}
			&:last-child{margin: 0;}
			&:nth-child(n+6){display: none;}
		}
	}
}
.icon_ls2{height: 230px; color: #666;
	.title{display: none;}
	ul{@include flexbox(); flex-direction: row; justify-content: space-around; align-items: center; height: 100%;}
	li{position: relative; flex: 1; @include flexbox(); flex-direction: column; justify-content: center; height: 150px; font-size: 16px; text-align: center; @include prefixer(transition, all .3s ease, webkit moz o ms);
		.icon{margin: 0 auto 10px; width: 63px; height: 45px; background-repeat: no-repeat; background-position: center top; @include prefixer(transition, all .3s ease, webkit moz o ms);}
		.icon1{background-image: url(images/icon_07.png);}
		.icon2{background-image: url(images/icon_08.png);}
		.icon3{background-image: url(images/icon_09.png);}
		.icon4{background-image: url(images/icon_10.png);}
		.icon5{background-image: url(images/icon_11.png);}
		&:after{content: ""; position: absolute; bottom: 0; z-index: 2; width: 0; background: #05a3e3; height: 3px; left: 50%; transform: translateX(-50%); @include prefixer(transition, all .3s ease, webkit moz o ms);}
		a{display: block; color: #666; @include prefixer(transition, all .3s ease, webkit moz o ms);}
		&:hover{box-shadow: 0 5px 5px #ebf3f7;
			.icon{transform: scale(1.1);}
			a{font-weight: bold; color: #05a3e3;}
			&:after{width: 75%;}
		}
	}
}
.bottom{color: #fff;
	.bottom1{height: 450px; background: url(images/bottom_bg.jpg) no-repeat;
		.con{@include flexbox(); flex-direction: row; justify-content: space-between; align-items: center; height: 100%;}
		.logo{width: 472px; height: 218px; background: url(images/logo_02.png);}
		.qrcode{@include flexbox(); flex-direction: row; justify-content: center; align-items: center; height: 100%;
			.qrcode1, .qrcode2{margin: 0 20px; text-align: center; font-size: 14px;}
		}
		.contact{
			.title{height: 47px;
				.icon{float: left; margin: 0 10px 0 0; width: 45px; height: 45px; border: 1px #fff solid; border-radius: 50%; background: url(images/icon_contact.png) center center no-repeat;}
				.word{@include flexbox(); flex-direction: column; justify-content: space-between; height: 100%; font-size: 16px; font-weight: bold;
					.en{font-weight: normal; font-family: arial;}
				}
			}
			li{padding: 0 0 0 10px; font-size: 14px; line-height: 28px; background: url(images/icon_dot.png) left center no-repeat;
				a{color: #fff;}
			}
		}
	}
	.bottom2{padding: 15px 0 0; height: 37px; font-size: 14px; background: #35b1d1;
		a{margin: 0 15px 0 0; color: #fff;
			&:last-child{margin: 0;}
		}
	}
}

@media screen and (max-width: 1200px){
	body{min-width: 7rem; background: #f6f6f6;}
	.view_more{display: block;}
	.con{width: 100%;}
	.top{position: relative;
		.top1{
			.con{display: none;}
		}
		.top2{height: 60px;
			.logo{margin: 0 0 0 .2rem; width: 6rem; height: 50px; background-size: contain; background-repeat: no-repeat; background-position: left center;}
			.phone, .qrcode{display: none;}
			.navbtn{display: block;}
		}
		nav{display: none;}
		.mobile_nav{
			&.open{transform: translateX(0);opacity: 1; visibility: visible;}
		}
	}
	.banner{height: 4rem;
		.swiper-container{
			.swiper-button-prev, .swiper-button-next{display: none;}
			.swiper-slide{background-size: cover;}
			&.swiper-container-horizontal{
				>.swiper-pagination-bullets{
					.swiper-pagination-bullet-active{width: .6rem;}
				}
			}
		}
	}
	.icon_ls{height: auto; background: #fff;
		ul{flex-wrap: wrap;}
		li{padding: 0; width: calc(33.3% - 2px); border-right: 1px #e5e5e5 solid; border-bottom: 1px #e5e5e5 solid; box-sizing: border-box;
			.icon{height: 66px; background-size: contain; background-position: center center;}
			.icon1{background-image: url(images/icon_01_2.png);}
			.icon2{background-image: url(images/icon_02_2.png);}
			.icon3{background-image: url(images/icon_03_2.png);}
			.icon4{background-image: url(images/icon_04_2.png);}
			.icon5{background-image: url(images/icon_05_2.png);}
			.icon6{background-image: url(images/icon_06_2.png);}
			a{padding: .3rem 0; color: #333;}
			&:last-child{padding: 0;}
		}
	}
	.section1{margin: 20px 0 0; padding: 10px; height: auto; background: #fff;
		.title{margin: 0;
			.more{display: none;}
			.word{font-size: .3rem; color: #19abeb;
				&:after{background: #86be17;}
			}
			.tab_head{margin: 0 0 0 10px;
				li{margin: 0 0 0 .2rem; padding: 0 5px; font-size: .24rem; max-width: 2.3rem; white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
			}
		}
		.tab_con{padding: 20px 0 0;
			.left{width: 6.8rem;
				.left1{display: none;}
				.left2{height: 3.2rem;
					.swiper-button-prev, .swiper-button-next{display: none;}
					.swiper-container{
						.swiper-slide{height: 2.4rem; background-size: cover; background-position: center center;
							.txt, .date{display: block; position: absolute; left: 0; z-index: 3; width: 100%;}
							.txt{bottom: -.4rem; font-size: .28rem; color: #000; white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
							.date{bottom: -.8rem; font-size: .24rem; color: #666;}
						}
					}					
				}
			}
			.right{width: 100%; height: 5rem; background-size: cover; border-radius: .2rem;
				.txt{display: block; position: absolute; left: 0; bottom: 0; z-index: 3; padding: 10px .2rem; width: 6.3rem; font-size: .35rem; color: #fff; border-top-left-radius: .2rem; border-bottom-left-radius: .2rem; white-space:nowrap;overflow:hidden;text-overflow:ellipsis; background-image: linear-gradient(to top,rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.4) 5%,rgba(0,0,0,0.4) 10%,rgba(0,0,0,0.3) 40%,rgba(0,0,0,0.2) 55%,rgba(0,0,0,0) 100%);}
			}
			&.active{flex-wrap: wrap-reverse;}
		}
	}
	.section2{margin: 20px 0 0; height: auto; background: none;
		.title{margin: 0; padding: 20px 10px 0; background: #fff;
			.more{display: none;}
			.word{font-size: .3rem; color: #19abeb;
				&:after{background: #86be17;}
			}
			.tab_head{margin: 0 0 0 .15rem;
				li{margin: 0 0 0 .1rem; padding: 0 .15rem; font-size: .24rem; max-width: 2.3rem; white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
					&.cur{padding: 0 .15rem;}
				}
			}
		}
		.tab_con{padding:0;
			.left{padding: 20px 0; width: 100%; height: auto; background: #fff;
				.swiper-container{padding-bottom: 20px;
					.swiper-slide{background-repeat: no-repeat; background-position: center center; border-radius: .1rem; overflow: hidden; transform: scale(.6); -webkit-transition: transform 1.0s;-moz-transition: transform 1.0s;-ms-transition: transform 1.0s;-o-transition: transform 1.0s;
						img{width: 100%; border-radius: .1rem;}
						a {
							&:after {position: absolute;top: 0;left: 0;display: block;box-sizing: border-box;content: "";width: 100%;height: 100%;background: url(images/top_slick_cover_bg01.png) 0 0 repeat;}
						}
						.detail{ border-bottom-left-radius: .1rem; border-bottom-right-radius: .1rem; background-image: linear-gradient(to top,rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.4) 5%,rgba(0,0,0,0.4) 10%,rgba(0,0,0,0.3) 40%,rgba(0,0,0,0.2) 55%,rgba(0,0,0,0) 100%);
							h3{width: calc(100% - 20px); font-size: .28rem; color: #fff; white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
						}
						&.swiper-slide-active, &.swiper-slide-duplicate-active{transform: scale(1);}
						&.swiper-slide-active{
							a{
								&:after {background: none;}
							}
						}
					}
					&.swiper-container-horizontal{
						>.swiper-pagination-bullets{text-align: center;
							.swiper-pagination-bullet{margin: 0 5px; width: 8px; height: 8px; background: #e5e5e5; opacity: .6; @include prefixer(transition, all .3s ease, webkit moz o ms); border-radius: 4px;}
							.swiper-pagination-bullet-active{width: .6rem; background: #86be17;}
						}
					}
					.swiper-pagination{left: 50%; bottom: 0; transform: translateX(-50%);}
				}				
			}
			.right{margin: 20px 0 0; padding: 0 .2rem; background: #fff;
				li{
					.img{border-radius: .1rem;}
					.title1{margin: 0;
						a{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
						.date{display: none;}
					}
					p{margin: 5px 0; line-height: 1.5; overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;
						a{display: none;}
					}
					.date_mobile{display: block; margin: 0; font-size: 14px; font-weight: normal; color: #999;}
					&:last-child{border-bottom: none;}
				}
			}
			.view_more_box{display: block; padding: 0 0 20px; background: #fff; overflow: hidden;}
			&.active{display: block;}
		}
	}
	.section3{margin: 20px 0 0; height: auto; background: #fff;
		.con{padding: 0 10px; box-sizing: border-box;}
		.title{margin: 0; padding: 10px 0 0; background: #fff;
			.more{display: none;}
			.word{font-size: .3rem; color: #19abeb;
				&:after{background: #86be17;}
			}
			.mobile_more{display: block; float: right; font-size: .3rem; color: #666;}
		}
		.ls{height: auto; flex-wrap: wrap; justify-content: space-between;
			li{flex: initial; position: relative; margin: 20px 0; width: 31%; height: 3.5rem;
				a{align-items: flex-end; padding: 0; height: calc(100% - 12px); background-size: contain;
					.left{
						.name{color: #93c635;}
					}
					.department{position: absolute; left: 50%; bottom: 0; padding: 0 10px; width: 1rem; text-align: center; transform: translate3d(-50%, 50%, 0); border-radius: 10px;
						h3{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
						&:after{border-radius: 10px;}
					}
				}
				&:nth-child(n+6){display: block;}
				&:last-child{margin: 20px 0;}
			}
		}
		.swiper-container{
			&.swiper-container-horizontal{
				>.swiper-pagination-bullets{
					.swiper-pagination-bullet-active{background-color: #86be17;}
				}
			}
		}
	}
	.icon_ls2{margin: 20px 0 0; height: auto;
		.title{display: block; padding: 10px 10px 0; height: 42px; line-height: 42px; border-bottom: 1px #dcdee0 solid; background: #fff;
			.word{float: left; position: relative; font-size: .3rem; font-weight: bold; color: #19abeb;
				&:after{content: ""; position: absolute; left: 0; bottom: -2px; z-index: 2; width: 100%; height: 4px; background: #86be17;}
			}
		}
		ul{padding: 10px 0; height: 4.4rem; flex-wrap: wrap;
			li{flex: initial; width: 31%; height: 2rem; background: #fff; border-radius: 5px;
				&.li1{width: 64%;}
			}
		}
	}
	.bottom{
		.bottom1{height: auto;
			.con{display: block; overflow: hidden;}
			.logo{margin: 20px auto; width: 6.8rem; height: 2.6rem; background-size: contain; background-position: center 0; background-repeat: no-repeat; background-image: url(images/logo_02_2.png);}
			.qrcode{display: none;}
			.contact{padding: 20px 0; border-top: 1px #3eafdb solid;
				.title{display: none;}
				li{padding: 0 .3rem 0 .4rem; background: none;}
			}
		}
		.bottom2{display: none;}
	}
}

@media screen and (max-width: 320px){
	.top{
		.top2{
			&.open{
				.navbtn{
					.line1{transform: translate3d(-3px,11px,0) rotate(225deg);}
				}
			}
		}
	}
	.section1{
		.title{
			.tab_head{margin: 0;}
		}
	}
	.section2{
		.title{
			.tab_head{margin: 0 0 0 .22rem;
				li{margin: 0; padding: 0 .12rem;
					&.cur{padding: 0 .12rem;}
				}
			}
		}
	}
	.section3{
		.ls{
			li{height: 3.8rem;}
		}
	}
}